*{
    
    margin: 0;
}

body {
    background: #fff;
    display:flex;
    justify-content: center;
}

.guide-wrapper {
    display: block;
    justify-content: center;
    margin: 15px;
    font-family: 'Lilita One', cursive;
    max-width: 1200px;
}

.color-palate {
    color: #070707;
    font-size: 40px;
}

.color-wrapper{
    border: 3px solid #070707;
    background:rgb(236, 236, 236);
    display: grid;
    grid-template-rows: repeat(4, 130px);
    padding: 20px;
}

.primary-colors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.normal-colors {
    display: flex;
    justify-content: left;
}

.gradiant-primary-colors {
    display: flex;
    justify-content: right;
}

.secondary-colors{
    display: flex;
    justify-content: left;

}

.grey-scale-colors{
    display: flex;
    justify-content: left;
    margin-right: 270px;
}

.alert-colors{
    display: flex;
    justify-content: left;
}

.color-cube {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    font-size: 15px;
    font-weight: 400;
}

.style-features{
    color: #070707;
    font-size: 40px;
    margin-top: 20px;

}

.style-wrapper{
    border: 3px solid #070707;
    background:rgb(236, 236, 236);
    display: grid;
    grid-template-rows: repeat(2, 130px);
    padding: 20px;
}

.boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 15px;
    justify-items : center;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    font-size: 15px;
    font-weight: 400;
}

.rgl-box{
    height: 100px;
    width: 100px;
    background:#999999;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rgl-rounded-box{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background:#999999;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rgl-circle{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background:#999999;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

}

.drop-shadows{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 15px;
    justify-items : center;
    font-family: 'Roboto Mono', monospace;
    color: #000;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    font-size: 15px;
    font-weight: 400;
}

.rgl-hard-shadow{
    height: 100px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #fff;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rgl-mid-shadow{
    height: 100px;
    width: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: #fff;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rgl-soft-shadow{
    height: 100px;
    width: 100px;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typography{
    color: #070707;
    font-size: 40px;
    margin-top: 20px;
}

.font-wrapper{
    border: 3px solid #070707;
    background:rgb(236, 236, 236);
    display: grid;
    grid-template-rows: 130px 1fr;
    padding: 20px;
}

.font-display{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 100px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    justify-items: center;
}

.font-size{
    display: grid;
    grid-template-rows: 50px 45px 45px 120px 120px 120px;
    font-family: 'Roboto Mono', monospace;
    border-top: 2px solid #070707;
    padding-top: 20px;
    margin-top: 50px;
}

.font-name{
    font-weight: 400;
    font-size: 18px;
    margin-top: -20px;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;

}

.font-style{
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
}

.rgl-font-bold-italic{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    padding-top: 15px;
}

.rgl-text-300{
    font-weight: 400;
    font-size: 18px;
}
.rgl-text-600{
    font-weight: 600;
    font-size: 18px;
}
.rgl-text{
    font-weight: 500;
    font-size: 18px;
}

.rgl-h1{
    font-weight: 800;
    font-size: 30px;
}

.rgl-h2{
    font-weight: 600;
    font-size: 26px;
}

.rgl-h3{
    font-weight: 500;
    font-size: 22px;
}

.rgl-h4{
    font-weight: 500;
    font-size: 18px;
}

.buttons{
    color: #070707;
    font-size: 40px;
    margin-top: 20px;
}

.buttons-wrapper{
    border: 3px solid #070707;
    background:#252525;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 20px;
}

.rgl-play-button{
    background: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    outline: 2px solid #000;
    color:#000;
    height: 60px;
    font-family: 'Lilita One', monospace;
}

.rgl-play-button:hover,.rgl-play-button:focus{
    color: #f77000;
    background:#ececec;
    outline: 2px solid #f77000;
}

.rgl-button-dark-orange{
    background: #f77000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    outline: 2px solid #000;
    color:#000;
    height: 60px;
    font-family: 'Lilita One', monospace;
}

.rgl-button-dark-orange:hover,.rgl-button-dark-orange:focus{
    color: #f77000;
    background:#000000c5;
    outline: 2px solid #f77000;
}
.rgl-button-dark-white{
    background: #f77000;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    outline: 2px solid #000000c5;
    color:#000;
    height: 60px;
    font-family: 'Lilita One', monospace;
}

.rgl-button-dark-white:hover,.rgl-button-dark-white:focus{
    color: #f77000;
    background:#000000c5;
    outline: 2px solid #f77000;
}
.rgl-button-light-orange{
    background: #000000c5;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    outline: 2px solid #fff;
    color:#fff;
    height: 60px;
    font-family: 'Lilita One', monospace;
}

.rgl-button-light-orange:hover,.rgl-button-light-orange:focus{
    color: #1c1c1c;
    background:#fff;
    outline: 2px solid #000000c5;
}
.rgl-button-light-white{
    background: #000000c5;
    text-decoration: none;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    outline: 2px solid #fff;
    color:#fff;
    height: 60px;
    font-family: 'Lilita One', monospace;
}

.rgl-button-light-white:hover,.rgl-button-light-white:focus{
    color: #1c1c1c;
    background:#fff;
    outline: 2px solid #000000c5;
}